<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>Filters.AuthenticationFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AuthorizationEdit</filter-name>
        <filter-class>Filters.AuthorizationEdit</filter-class>
    </filter>
    <filter>
        <filter-name>DeleteFilter</filter-name>
        <filter-class>Filters.DeleteFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>DeleteFilter</filter-name>
        <url-pattern>/ActivoDel</url-pattern>
        <url-pattern>/ClienteDel</url-pattern>
        <url-pattern>/RemitoDel</url-pattern>
        <url-pattern>/ContratoDel</url-pattern>
        <url-pattern>/RubroDel</url-pattern>
        <url-pattern>/SububroDel</url-pattern>
        <url-pattern>/CertificadoDel</url-pattern>
        <url-pattern>/CompraDel</url-pattern>
        <url-pattern>/SiteDel</url-pattern>
        <url-pattern>/PreticketDel</url-pattern>
        <url-pattern>/ProveedorDel</url-pattern>
        <url-pattern>/UsuarioDel</url-pattern>
        <url-pattern>/CorrectivoDel</url-pattern>
        <url-pattern>/KitDel</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthorizationEdit</filter-name>
        <url-pattern>/ActivoEdit</url-pattern>
        <url-pattern>/ClienteEdit</url-pattern>
        <url-pattern>/RemitoEdit</url-pattern>
        <url-pattern>/ContratoEdit</url-pattern>
        <url-pattern>/RubroEdit</url-pattern>
        <url-pattern>/SububroEdit</url-pattern>
        <url-pattern>/CertificadoEdit</url-pattern>
        <url-pattern>/CompraEdit</url-pattern>
        <url-pattern>/SiteEdit</url-pattern>
        <url-pattern>/PreticketEdit</url-pattern>
        <url-pattern>/ProveedorEdit</url-pattern>
        <url-pattern>/UsuarioEdit</url-pattern>
        <url-pattern>/CorrectivoEdit</url-pattern>
        <url-pattern>/KitEdit</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/index.jsp</url-pattern>
        <url-pattern>/</url-pattern>
        <url-pattern>/Activo</url-pattern>
        <url-pattern>/ActivoList</url-pattern>
        <url-pattern>/ActivoEdit</url-pattern>
        <url-pattern>/ActivoDel</url-pattern>
        <url-pattern>/ActivoEtiqueta</url-pattern>
        <url-pattern>/Cliente</url-pattern>
        <url-pattern>/ClienteList</url-pattern>
        <url-pattern>/ClienteEdit</url-pattern>
        <url-pattern>/ClienteDel</url-pattern>
        <url-pattern>/LocalidadList</url-pattern>
        <url-pattern>/Options</url-pattern>
        <url-pattern>/Remito</url-pattern>
        <url-pattern>/RemitoEdit</url-pattern>
        <url-pattern>/RemitoDel</url-pattern>
        <url-pattern>/RemitoList</url-pattern>
        <url-pattern>/ActivoSearch</url-pattern>
        <url-pattern>/ClienteSearch</url-pattern>
        <url-pattern>/Contrato</url-pattern>
        <url-pattern>/ContratoEdit</url-pattern>
        <url-pattern>/ContratoList</url-pattern>
        <url-pattern>/ContratoDel</url-pattern>
        <url-pattern>/Rubro</url-pattern>
        <url-pattern>/RubroList</url-pattern>
        <url-pattern>/Devolucion</url-pattern>
        <url-pattern>/SubrubroSearch</url-pattern>
        <url-pattern>/SubrubroList</url-pattern>
        <url-pattern>/RubroEdit</url-pattern>
        <url-pattern>/RubroDel</url-pattern>
        <url-pattern>/RemitoPrint</url-pattern>
        <url-pattern>/ContratoSearch</url-pattern>
        <url-pattern>/RemitoSearch</url-pattern>
        <url-pattern>/RemitoDetList</url-pattern>
        <url-pattern>/Certificado</url-pattern>
        <url-pattern>/CertificadoList</url-pattern>
        <url-pattern>/CertificadoEdit</url-pattern>
        <url-pattern>/CertificadoDel</url-pattern>
        <url-pattern>/Compra</url-pattern>
        <url-pattern>/CompraList</url-pattern>
        <url-pattern>/CompraEdit</url-pattern>
        <url-pattern>/CompraDel</url-pattern>
        <url-pattern>/ActivoContratoList</url-pattern>
        <url-pattern>/CertificadoUpload</url-pattern>
        <url-pattern>/Download</url-pattern>
        <url-pattern>/Upload</url-pattern>
        <url-pattern>/ContratoDetalleList</url-pattern>
        <url-pattern>/Site</url-pattern>
        <url-pattern>/SiteList</url-pattern>
        <url-pattern>/SiteDel</url-pattern>
        <url-pattern>/SiteEdit</url-pattern>
        <url-pattern>/ActivoHistoriaList</url-pattern>
        <url-pattern>/Preticket</url-pattern>
        <url-pattern>/PreticketList</url-pattern>
        <url-pattern>/PreticketEdit</url-pattern>
        <url-pattern>/PreticketDel</url-pattern>
        <url-pattern>/PreticketPrint</url-pattern>
        <url-pattern>/RemitoUpload</url-pattern>
        <url-pattern>/ActivoCheck</url-pattern>
        <url-pattern>/ActivoRemitoServlet</url-pattern>
        <url-pattern>/ActivoRemitoList</url-pattern>
        <url-pattern>/Proveedor</url-pattern>
        <url-pattern>/ProveedorList</url-pattern>
        <url-pattern>/ProveedorEdit</url-pattern>
        <url-pattern>/ProveedorDel</url-pattern>
        <url-pattern>/Usuario</url-pattern>
        <url-pattern>/UsuarioList</url-pattern>
        <url-pattern>/UsuarioEdit</url-pattern>
        <url-pattern>/UsuarioDel</url-pattern>
        <url-pattern>/Auditoria</url-pattern>
        <url-pattern>/AuditoriaList</url-pattern>
        <url-pattern>/Correctivo</url-pattern>
        <url-pattern>/CorrectivoList</url-pattern>
        <url-pattern>/CorrectivoEdit</url-pattern>
        <url-pattern>/Kit</url-pattern>
        <url-pattern>/KitList</url-pattern>
        <url-pattern>/KitEdit</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>ActivoServlet</servlet-name>
        <servlet-class>Activo.ActivoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActivoList</servlet-name>
        <servlet-class>Activo.ActivoList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActivoEdit</servlet-name>
        <servlet-class>Activo.ActivoEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActivoDel</servlet-name>
        <servlet-class>Activo.ActivoDel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClienteServlet</servlet-name>
        <servlet-class>Cliente.ClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClienteList</servlet-name>
        <servlet-class>Cliente.ClienteList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClienteEdit</servlet-name>
        <servlet-class>Cliente.ClienteEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClienteDel</servlet-name>
        <servlet-class>Cliente.ClienteDel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Usuario.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Usuario.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Options</servlet-name>
        <servlet-class>utils.OptionsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LocalidadList</servlet-name>
        <servlet-class>Localidad.LocalidadList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemitoServlet</servlet-name>
        <servlet-class>Remito.RemitoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemitoEdit</servlet-name>
        <servlet-class>Remito.RemitoEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemitoDel</servlet-name>
        <servlet-class>Remito.RemitoDel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemitoList</servlet-name>
        <servlet-class>Remito.RemitoList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActivoSearch</servlet-name>
        <servlet-class>Activo.ActivoSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClienteSearch</servlet-name>
        <servlet-class>Cliente.ClienteSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Contrato</servlet-name>
        <servlet-class>Contrato.ContratoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContratoEdit</servlet-name>
        <servlet-class>Contrato.ContratoEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContratoList</servlet-name>
        <servlet-class>Contrato.ContratoList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContratoDel</servlet-name>
        <servlet-class>Contrato.ContratoDel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RubroServlet</servlet-name>
        <servlet-class>Rubro.RubroServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RubroList</servlet-name>
        <servlet-class>Rubro.RubroList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemitoDevolucion</servlet-name>
        <servlet-class>Remito.RemitoDevolucion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubrubroSearch</servlet-name>
        <servlet-class>Subrubro.SubrubroSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubrubroList</servlet-name>
        <servlet-class>Subrubro.SubrubroList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RubroEdit</servlet-name>
        <servlet-class>Rubro.RubroEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RubroDel</servlet-name>
        <servlet-class>Rubro.RubroDel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemitoPrint</servlet-name>
        <servlet-class>Remito.RemitoPrint</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContratoSearch</servlet-name>
        <servlet-class>Contrato.ContratoSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemitoSearch</servlet-name>
        <servlet-class>Remito.RemitoSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemitoDetList</servlet-name>
        <servlet-class>Remito.RemitoDetList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CertificadoServlet</servlet-name>
        <servlet-class>Certificado.CertificadoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CertificadoList</servlet-name>
        <servlet-class>Certificado.CertificadoList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CertificadoEdit</servlet-name>
        <servlet-class>Certificado.CertificadoEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CertificadoDel</servlet-name>
        <servlet-class>Certificado.CertificadoDel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompraServlet</servlet-name>
        <servlet-class>Compra.CompraServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompraList</servlet-name>
        <servlet-class>Compra.CompraList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompraEdit</servlet-name>
        <servlet-class>Compra.CompraEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompraDel</servlet-name>
        <servlet-class>Compra.CompraDel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActivoContratoList</servlet-name>
        <servlet-class>Activo.ActivoContratoList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CertificadoUpload</servlet-name>
        <servlet-class>utils.CertificadoUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadServlet</servlet-name>
        <servlet-class>utils.DownloadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>utils.UploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContratoDetalleList</servlet-name>
        <servlet-class>Contrato.ContratoDetalleList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SiteServlet</servlet-name>
        <servlet-class>Site.SiteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SiteList</servlet-name>
        <servlet-class>Site.SiteList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SiteDel</servlet-name>
        <servlet-class>Site.SiteDel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SiteEdit</servlet-name>
        <servlet-class>Site.SiteEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActivoHistoriaList</servlet-name>
        <servlet-class>ActivoHistoria.ActivoHistoriaList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PreticketServlet</servlet-name>
        <servlet-class>Preticket.PreticketServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PreticketList</servlet-name>
        <servlet-class>Preticket.PreticketList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PreticketEdit</servlet-name>
        <servlet-class>Preticket.PreticketEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PreticketDel</servlet-name>
        <servlet-class>Preticket.PreticketDel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PreticketPrint</servlet-name>
        <servlet-class>Preticket.PreticketPrint</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemitoUpload</servlet-name>
        <servlet-class>Remito.RemitoUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActivoCheck</servlet-name>
        <servlet-class>Activo.ActivoCheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActivoRemitoServlet</servlet-name>
        <servlet-class>ActivoRemito.ActivoRemitoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActivoRemitoList</servlet-name>
        <servlet-class>ActivoRemito.ActivoRemitoList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProveedorServlet</servlet-name>
        <servlet-class>Proveedor.ProveedorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProveedorList</servlet-name>
        <servlet-class>Proveedor.ProveedorList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProveedorEdit</servlet-name>
        <servlet-class>Proveedor.ProveedorEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProveedorDel</servlet-name>
        <servlet-class>Proveedor.ProveedorDel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioServlet</servlet-name>
        <servlet-class>Usuario.UsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioList</servlet-name>
        <servlet-class>Usuario.UsuarioList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioEdit</servlet-name>
        <servlet-class>Usuario.UsuarioEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioDel</servlet-name>
        <servlet-class>Usuario.UsuarioDel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuditoriaServlet</servlet-name>
        <servlet-class>Auditoria.AuditoriaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuditoriaList</servlet-name>
        <servlet-class>Auditoria.AuditoriaList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Forbidden</servlet-name>
        <servlet-class>Usuario.Forbidden</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CorrectivoList</servlet-name>
        <servlet-class>Correctivo.CorrectivoList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CorrectivoServlet</servlet-name>
        <servlet-class>Correctivo.CorrectivoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CorrectivoEdit</servlet-name>
        <servlet-class>Correctivo.CorrectivoEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CorrectivoDel</servlet-name>
        <servlet-class>Correctivo.CorrectivoDel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KitServlet</servlet-name>
        <servlet-class>Kit.KitServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KitList</servlet-name>
        <servlet-class>Kit.KitList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KitEdit</servlet-name>
        <servlet-class>Kit.KitEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KitDel</servlet-name>
        <servlet-class>Kit.KitDel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubrubroEdit</servlet-name>
        <servlet-class>Subrubro.SubrubroEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubrubroDel</servlet-name>
        <servlet-class>Subrubro.SubrubroDel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PreventivoServlet</servlet-name>
        <servlet-class>Preventivo.PreventivoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PreventivoList</servlet-name>
        <servlet-class>Preventivo.PreventivoList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgendaServlet</servlet-name>
        <servlet-class>Agenda.AgendaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgendaList</servlet-name>
        <servlet-class>Agenda.AgendaList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgendaEdit</servlet-name>
        <servlet-class>Agenda.AgendaEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgendaDel</servlet-name>
        <servlet-class>Agenda.AgendaDel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemitoView</servlet-name>
        <servlet-class>Remito.RemitoView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GraphList</servlet-name>
        <servlet-class>Graph.GraphList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActivoEtiqueta</servlet-name>
        <servlet-class>Activo.ActivoEtiqueta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemitoDiario</servlet-name>
        <servlet-class>Remito.RemitoDiario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActivoContratoSearch</servlet-name>
        <servlet-class>Activo.ActivoContratoSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ParametroServlet</servlet-name>
        <servlet-class>Parametro.ParametroServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ParametroList</servlet-name>
        <servlet-class>Parametro.ParametroList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ParametroEdit</servlet-name>
        <servlet-class>Parametro.ParametroEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ParametroDel</servlet-name>
        <servlet-class>Parametro.ParametroDel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servicio</servlet-name>
        <servlet-class>Servicio.ServicioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServicioList</servlet-name>
        <servlet-class>Servicio.ServicioList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServicioEdit</servlet-name>
        <servlet-class>Servicio.ServicioEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServicioDel</servlet-name>
        <servlet-class>Servicio.ServicioDel</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ActivoServlet</servlet-name>
        <url-pattern>/Activo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActivoList</servlet-name>
        <url-pattern>/ActivoList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActivoEdit</servlet-name>
        <url-pattern>/ActivoEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActivoDel</servlet-name>
        <url-pattern>/ActivoDel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClienteServlet</servlet-name>
        <url-pattern>/Cliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClienteList</servlet-name>
        <url-pattern>/ClienteList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClienteEdit</servlet-name>
        <url-pattern>/ClienteEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClienteDel</servlet-name>
        <url-pattern>/ClienteDel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LocalidadList</servlet-name>
        <url-pattern>/LocalidadList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Options</servlet-name>
        <url-pattern>/Options</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemitoServlet</servlet-name>
        <url-pattern>/Remito</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemitoEdit</servlet-name>
        <url-pattern>/RemitoEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemitoDel</servlet-name>
        <url-pattern>/RemitoDel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemitoList</servlet-name>
        <url-pattern>/RemitoList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActivoSearch</servlet-name>
        <url-pattern>/ActivoSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClienteSearch</servlet-name>
        <url-pattern>/ClienteSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Contrato</servlet-name>
        <url-pattern>/Contrato</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContratoEdit</servlet-name>
        <url-pattern>/ContratoEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContratoList</servlet-name>
        <url-pattern>/ContratoList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContratoDel</servlet-name>
        <url-pattern>/ContratoDel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RubroServlet</servlet-name>
        <url-pattern>/Rubro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RubroList</servlet-name>
        <url-pattern>/RubroList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemitoDevolucion</servlet-name>
        <url-pattern>/Devolucion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubrubroSearch</servlet-name>
        <url-pattern>/SubrubroSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubrubroList</servlet-name>
        <url-pattern>/SubrubroList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RubroEdit</servlet-name>
        <url-pattern>/RubroEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RubroDel</servlet-name>
        <url-pattern>/RubroDel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemitoPrint</servlet-name>
        <url-pattern>/RemitoPrint</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContratoSearch</servlet-name>
        <url-pattern>/ContratoSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemitoSearch</servlet-name>
        <url-pattern>/RemitoSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemitoDetList</servlet-name>
        <url-pattern>/RemitoDetList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CertificadoServlet</servlet-name>
        <url-pattern>/Certificado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CertificadoList</servlet-name>
        <url-pattern>/CertificadoList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CertificadoEdit</servlet-name>
        <url-pattern>/CertificadoEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CertificadoDel</servlet-name>
        <url-pattern>/CertificadoDel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompraServlet</servlet-name>
        <url-pattern>/Compra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompraList</servlet-name>
        <url-pattern>/CompraList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompraEdit</servlet-name>
        <url-pattern>/CompraEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompraDel</servlet-name>
        <url-pattern>/CompraDel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActivoContratoList</servlet-name>
        <url-pattern>/ActivoContratoList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CertificadoUpload</servlet-name>
        <url-pattern>/CertificadoUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadServlet</servlet-name>
        <url-pattern>/Download</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/Upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContratoDetalleList</servlet-name>
        <url-pattern>/ContratoDetalleList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SiteServlet</servlet-name>
        <url-pattern>/Site</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SiteList</servlet-name>
        <url-pattern>/SiteList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SiteDel</servlet-name>
        <url-pattern>/SiteDel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SiteEdit</servlet-name>
        <url-pattern>/SiteEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActivoHistoriaList</servlet-name>
        <url-pattern>/ActivoHistoriaList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PreticketServlet</servlet-name>
        <url-pattern>/Preticket</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PreticketList</servlet-name>
        <url-pattern>/PreticketList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PreticketEdit</servlet-name>
        <url-pattern>/PreticketEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PreticketDel</servlet-name>
        <url-pattern>/PreticketDel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PreticketPrint</servlet-name>
        <url-pattern>/PreticketPrint</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemitoUpload</servlet-name>
        <url-pattern>/RemitoUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActivoCheck</servlet-name>
        <url-pattern>/ActivoCheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActivoRemitoServlet</servlet-name>
        <url-pattern>/ActivoRemitoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActivoRemitoList</servlet-name>
        <url-pattern>/ActivoRemitoList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProveedorServlet</servlet-name>
        <url-pattern>/Proveedor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProveedorList</servlet-name>
        <url-pattern>/ProveedorList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProveedorEdit</servlet-name>
        <url-pattern>/ProveedorEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProveedorDel</servlet-name>
        <url-pattern>/ProveedorDel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioServlet</servlet-name>
        <url-pattern>/Usuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioList</servlet-name>
        <url-pattern>/UsuarioList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioEdit</servlet-name>
        <url-pattern>/UsuarioEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioDel</servlet-name>
        <url-pattern>/UsuarioDel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuditoriaServlet</servlet-name>
        <url-pattern>/Auditoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuditoriaList</servlet-name>
        <url-pattern>/AuditoriaList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Forbidden</servlet-name>
        <url-pattern>/Forbidden</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CorrectivoList</servlet-name>
        <url-pattern>/CorrectivoList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CorrectivoServlet</servlet-name>
        <url-pattern>/Correctivo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CorrectivoEdit</servlet-name>
        <url-pattern>/CorrectivoEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CorrectivoDel</servlet-name>
        <url-pattern>/CorrectivoDel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KitServlet</servlet-name>
        <url-pattern>/Kit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KitList</servlet-name>
        <url-pattern>/KitList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KitEdit</servlet-name>
        <url-pattern>/KitEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KitDel</servlet-name>
        <url-pattern>/KitDel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubrubroEdit</servlet-name>
        <url-pattern>/SubrubroEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubrubroDel</servlet-name>
        <url-pattern>/SubrubroDel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PreventivoServlet</servlet-name>
        <url-pattern>/Preventivo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PreventivoList</servlet-name>
        <url-pattern>/PreventivoList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgendaServlet</servlet-name>
        <url-pattern>/Agenda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgendaList</servlet-name>
        <url-pattern>/AgendaList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgendaEdit</servlet-name>
        <url-pattern>/AgendaEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgendaDel</servlet-name>
        <url-pattern>/AgendaDel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemitoView</servlet-name>
        <url-pattern>/RemitoView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GraphList</servlet-name>
        <url-pattern>/GraphList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActivoEtiqueta</servlet-name>
        <url-pattern>/ActivoEtiqueta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemitoDiario</servlet-name>
        <url-pattern>/RemitoDiario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActivoContratoSearch</servlet-name>
        <url-pattern>/ActivoContratoSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ParametroServlet</servlet-name>
        <url-pattern>/Parametro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ParametroList</servlet-name>
        <url-pattern>/ParametroList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ParametroEdit</servlet-name>
        <url-pattern>/ParametroEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ParametroDel</servlet-name>
        <url-pattern>/ParametroDel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servicio</servlet-name>
        <url-pattern>/Servicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServicioList</servlet-name>
        <url-pattern>/ServicioList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServicioEdit</servlet-name>
        <url-pattern>/ServicioEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServicioDel</servlet-name>
        <url-pattern>/ServicioDel</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
